<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-xs-6 col-sm-6 head-margin">
      <a class="head" href="/#">
        भैंसवाला
      </a>
      <div class="head-schema">
        स्वस्थ पशु, सही दाम
      </div>
    </div>
    <div class="col-4 col-xs-4 col-sm-6 m-top-p-right">
      <div class="chat-button">
        <a href="tel:8521971929">
          Call
        </a>
      </div>
      <div class="chat-button">
          <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
        Chat
      </div>
    </div>
  </div>
</div>