/* You can add global styles to this file, and also import other style files */
html,
body {
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans','Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    scroll-behavior: smooth;
}